:root {
  font-family: "Jost", sans-serif;
  --white: #fefefe;
  --dark-green: #1e6f5c;
  --medium-green: #289672;
  --light-green: #29bb89;
  --lime: #e6dd3b;
  --brown: #444213;
}

body {
  margin: 3rem;
  display: flex;
  align-items: center;
}

@keyframes translateYAnimation {
  0% {
    transform: translate3d(0px, -1rem, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  15% {
    transform: translate3d(0px, -1rem, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  17% {
    transform: translate3d(0px, 0rem, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  40% {
    transform: translate3d(0px, -16rem, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
  }

  43% {
    transform: translate3d(0px, -15rem, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
  }

  58% {
    transform: translate3d(0px, -31rem, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
  }

  60% {
    transform: translate3d(0px, -31rem, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
  }

  63% {
    transform: translate3d(0px, -30rem, 0px) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0deg, 0deg);
  }

  78% {
    transform: translate3d(0px, -46rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  90% {
    transform: translate3d(0px, -46rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }

  100% {
    transform: translate3d(0px, 0rem, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}

.text-ticker__component:before,
.text-ticker__component:after {
  content: " ";
  grid-area: 1/1/2/2;
  display: table;
}

.text-ticker__mask {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  box-sizing: border-box;
  height: 11rem;
  float: right;
  color: #111;
  -webkit-background-clip: text;
  padding-left: 0;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

.text-ticker__text {
  font-size: 5rem;
  line-height: 1.5rem;
  text-align: left;
  box-sizing: border-box;
  -webkit-text-fill-color: transparent;
  background-image: url(https://pics.craiyon.com/2023-08-03/fbe704d0842745b5a580a862f5fd51be.webp);
  background-position: 50%;
  background-size: cover;
  -webkit-background-clip: text;

  @media (max-width: 1200px) {
    font-size: 3rem;
    height: 13rem;
    line-height: 4rem;
  }
}

.text-ticker__carousel {
  clear: both;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
  transform-style: preserve-3d;
  will-change: animation;
  animation: translateYAnimation 15s infinite;
}

.text__text {
  position: relative;
  top: 20rem;
  font-size: 2rem;
  max-width: 40rem;

  & a {
    font-weight: 600;
    text-decoration: none;
    color: black;
  }

  @media (max-width: 1200px) {
    font-size: 1.2rem;
    top: 18rem;
  }
}

