:root {
  font-family: "inter", sans-serif;
  --white: #fefefe;
  --dark-green: #1e6f5c;
  --medium-green: #289672;
  --light-green: #29bb89;
  --lime: #e6dd3b;
  --brown: #444213;
}

nav {
  position: fixed !important;
  width: 100%;
  margin-top: 0px;
  z-index: 1;
}

li {
  font-size: 15px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}

li:hover {
  background-color: var(--lime);
  opacity: 1;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 90px;
  font-weight: 800;
  color: var(--dark-green);
}

h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 50px;
  color: var(--lime);
  font-weight: 800;
  margin-top: 20px;
}

h4 {
  font-size: 17px;
  color: var(--dark-green);
  background-color: var(--white);
  display: inline-block;
  border: 1px solid var(--dark-green);
  padding: 8px 14px;
  margin: 5px;
  transition: all 200ms ease-in-out;
  border-radius: 4px;
}

h5 {
  font-size: 50px;
  color: var(--dark-green);
  font-weight: 800;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  background-color: var(--lime);
}

button {
  display: inline;
  max-width: 200px;
  margin: 50px 0;
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
  font-weight: 300;
  border-radius: 4px;
}

button:hover {
  opacity: 0.9;
  scale: 1.05;
}

nav img {
  width: 120px;
  height: auto;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
  height: 100vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding-top: 80px;
  flex-wrap: wrap;
}

.photo {
  max-width: 500px;
  padding-top: 0;
  margin-top: 0;
}

.emphasise {
  font-weight: 500;
  color: var(--medium-green);
}

.about {
  display: block;
  margin: 50px auto 0;
}

.abstract {
  max-width: 300px;
  height: auto;
}

.skills-section {
  background-color: var(--light-green);
  padding: 20px;
}

.contact {
  background-color: var(--light-green);
  padding: 100px;
}

.callout {
  max-width: 700px;
  background-color: var(--white);
  padding: 50px 50px;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 100px auto;
}

.icons {
  max-width: 700px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: var(--white);
  font-size: 30px !important;
}

.c-icon,
.f-icon {
  transition: all 200ms ease-in-out;
}

.c-icon:hover,
.icon:hover,
.f-icon:hover {
  color: var(--lime);
}

.footer {
  background-color: #f8f9fa;
  color: var(--brown);
  font-size: 12px;
  text-align: center;
  height: 100px;
  bottom: 0;
  padding: 15px;
}

.footer a {
  color: var(--brown);
  text-decoration: underline;
}

.footer a:hover {
  background-color: var(--lime);
  text-decoration: none;
}

.portfolio {
  text-align: center;
  padding-top: 100px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0 100px;
  flex-wrap: wrap;
}

.icon {
  color: var(--dark-green);
  font-size: 30px !important;
}

.f-icon {
  color: var(--brown);
  font-size: 30px !important;
  padding: 10px;
}

.card:hover {
  border: 2px solid var(--lime);
}

.card {
  transition: all 200ms ease-in-out;
  min-width: 320px;
  max-width: 360px;
  margin-top: 20px;
}

.my-story {
  width: 100%;
  background-color: var(--white);
  text-align: center;
  padding: 80px 0 0px;
}

.paragraph {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 60px 0;
  font-weight: 500;
}

.my-story a {
  color: var(--dark-green);
  font-weight: 500;
}

@media (max-width: 830px) {
  .hero {
    flex-wrap: wrap-reverse;
    padding-top: 700px;
    padding-bottom: 500px;
    height: 100vh;
  }

  .skills-section {
    padding-top: 100px;
    height: 100vh;
  }

  .portfolio {
    padding-top: 200px;
  }

  .contact {
    width: 100%;
    height: 100vh;
    padding: 250px 0 100px 0;
  }

  .callout {
    width: 400px;
  }

  .introduction {
    width: 80%;
  }

  h1 {
    font-size: 60px;
  }

  .paragraph {
    width: 80%;
  }

  .my-story {
    padding: 200px 40px;
  }
}
