:root {
  font-family: "inter", sans-serif;
  --white: #fefefe;
  --dark-green: #1e6f5c;
  --medium-green: #289672;
  --light-green: #29bb89;
  --lime: #e6dd3b;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 90px;
  font-weight: 800;
  color: var(--dark-green);
}

h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 50px;
  color: var(--lime);
  font-weight: 800;
}

h4 {
  font-size: 17px;
  color: var(--dark-green);
  background-color: var(--white);
  display: inline-block;
  border: 1px solid var(--dark-green);
  padding: 8px 14px;
  margin: 5px;
  transition: all 200ms ease-in-out;
}

h4:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

h5 {
  font-size: 50px;
  color: var(--dark-green);
  font-weight: 800;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

button {
  display: inline;
  max-width: 200px;
  margin: 50px 0;
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
  font-weight: 300;
}

button:hover {
  opacity: 0.9;
  scale: 1.05;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 50px;
  max-height: 100vh;
}

.introduction {
  display: inline-flex;
  flex-direction: column;
  max-width: 500px;
  padding-top: 80px;
}

.photo {
  max-width: 500px;
  padding-top: 0;
  margin-top: 0;
}

.emphasise {
  font-weight: 500;
  color: var(--light-green);
}

.about {
  display: block;
  margin: 50px auto;
}

.abstract {
  max-width: 300px;
  height: auto;
}

.skills-section {
  width: 100vw;
  background-color: var(--light-green);
  margin-top: 150px;
  padding: 50px;
}

.logo {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}

.logo img {
  width: 120px;
  height: auto;
}

.portfolio {
  text-align: center;
  margin-top: 100px;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0 100px;
}

.icon {
  color: var(--dark-green);
  font-size: 30px !important;
}
.icon:hover {
  color: var(--lime);
}
